ui/carrete_01.json
[{"id":"5e67d11dfb1e887f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d6511dd7905d9c0f","type":"inject","z":"5e67d11dfb1e887f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":640,"wires":[["b867e6c9ffad1f6a"]]},{"id":"b867e6c9ffad1f6a","type":"debug","z":"5e67d11dfb1e887f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":640,"wires":[]},{"id":"e96eed73d7d64e13","type":"ui_template","z":"5e67d11dfb1e887f","group":"caeb6886450fdf2d","name":"Logo","order":1,"width":10,"height":2,"format":"<div ng-bind-html=\"msg.payload\">Logo</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":180,"wires":[[]]},{"id":"fdc430722120a9ed","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton1","group":"caeb6886450fdf2d","order":5,"width":2,"height":1,"passthru":false,"label":"3 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":300,"wires":[[]]},{"id":"daba1f8b473415c2","type":"ui_slider","z":"5e67d11dfb1e887f","name":"Slider","label":"","tooltip":"","group":"caeb6886450fdf2d","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"60","step":1,"className":"","x":550,"y":240,"wires":[[]]},{"id":"b92e719974e8cb82","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton2","group":"caeb6886450fdf2d","order":18,"width":2,"height":1,"passthru":false,"label":"5 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":300,"wires":[[]]},{"id":"241e99c2b8d26945","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton3","group":"caeb6886450fdf2d","order":9,"width":2,"height":1,"passthru":false,"label":"8 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":400,"y":300,"wires":[[]]},{"id":"778fd018403ef362","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton4","group":"caeb6886450fdf2d","order":11,"width":2,"height":1,"passthru":false,"label":"10 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":300,"wires":[[]]},{"id":"27bb5fa63808dc74","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton5","group":"caeb6886450fdf2d","order":35,"width":2,"height":1,"passthru":false,"label":"12 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":720,"y":300,"wires":[[]]},{"id":"654412c3478ba01d","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton1","group":"caeb6886450fdf2d","order":27,"width":2,"height":1,"passthru":false,"label":"3 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":360,"wires":[[]]},{"id":"b201532856401f2d","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton2","group":"caeb6886450fdf2d","order":7,"width":2,"height":1,"passthru":false,"label":"5 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":360,"wires":[[]]},{"id":"d18a679c606b10cf","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton3","group":"caeb6886450fdf2d","order":31,"width":2,"height":1,"passthru":false,"label":"8 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":400,"y":360,"wires":[[]]},{"id":"ff62780db8036b7b","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton4","group":"caeb6886450fdf2d","order":22,"width":2,"height":1,"passthru":false,"label":"10 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":360,"wires":[[]]},{"id":"5db27eb03ffdda6e","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton5","group":"caeb6886450fdf2d","order":24,"width":2,"height":1,"passthru":false,"label":"12 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":720,"y":360,"wires":[[]]},{"id":"73edb1ea11b3c5f2","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton1","group":"caeb6886450fdf2d","order":16,"width":2,"height":1,"passthru":false,"label":"3 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":420,"wires":[[]]},{"id":"b9993f34ddc86f4a","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton2","group":"caeb6886450fdf2d","order":29,"width":2,"height":1,"passthru":false,"label":"5 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":420,"wires":[[]]},{"id":"695953eb483a7782","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton3","group":"caeb6886450fdf2d","order":20,"width":2,"height":1,"passthru":false,"label":"8 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":400,"y":420,"wires":[[]]},{"id":"9658dbf917ae051d","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton4","group":"caeb6886450fdf2d","order":33,"width":2,"height":1,"passthru":false,"label":"10 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":420,"wires":[[]]},{"id":"09d75635a789ba47","type":"ui_button","z":"5e67d11dfb1e887f","name":"Boton5","group":"caeb6886450fdf2d","order":13,"width":2,"height":1,"passthru":false,"label":"12 m","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":720,"y":420,"wires":[[]]},{"id":"58f489b3040b5588","type":"ui_button","z":"5e67d11dfb1e887f","name":"Rocket","group":"caeb6886450fdf2d","order":15,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-rocket","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":500,"wires":[[]]},{"id":"9897a6f696bb4b3d","type":"ui_button","z":"5e67d11dfb1e887f","name":"Gear","group":"caeb6886450fdf2d","order":26,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"settings","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":540,"wires":[[]]},{"id":"dc1194480f37252a","type":"ui_button","z":"5e67d11dfb1e887f","name":"At","group":"caeb6886450fdf2d","order":37,"width":2,"height":1,"passthru":false,"label":"@","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":580,"wires":[[]]},{"id":"376ea0ce20c6f4b8","type":"ui_button","z":"5e67d11dfb1e887f","name":"ImgDist","group":"caeb6886450fdf2d","order":2,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"gray","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":180,"wires":[[]]},{"id":"0e34ac148136115f","type":"ui_button","z":"5e67d11dfb1e887f","name":"X","group":"caeb6886450fdf2d","order":3,"width":4,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"f02328","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":180,"wires":[[]]},{"id":"c56a5a7e307e7a24","type":"ui_text_input","z":"5e67d11dfb1e887f","name":"","label":"","tooltip":"","group":"caeb6886450fdf2d","order":22,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":160,"y":720,"wires":[["dcfe6c68fba00f98","b867e6c9ffad1f6a"]]},{"id":"06d1b7414862d89c","type":"ui_text","z":"5e67d11dfb1e887f","group":"caeb6886450fdf2d","order":23,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":330,"y":780,"wires":[]},{"id":"ca9daf22d01364f0","type":"serial in","z":"5e67d11dfb1e887f","name":"","serial":"8093b375b7cc572a","x":130,"y":780,"wires":[["06d1b7414862d89c","b867e6c9ffad1f6a"]]},{"id":"dcfe6c68fba00f98","type":"serial out","z":"5e67d11dfb1e887f","name":"","serial":"8093b375b7cc572a","x":350,"y":720,"wires":[]},{"id":"3e1dd7e2fa7bcb63","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":6,"width":1,"height":1},{"id":"e26ca63dcad6ee7f","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":8,"width":1,"height":1},{"id":"e30a55df13af4c45","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":10,"width":1,"height":1},{"id":"48e584a8c78bf7b3","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":12,"width":1,"height":1},{"id":"18df4f7e2a3315ad","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":14,"width":2,"height":1},{"id":"33d7e37d4dbe4c4b","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":17,"width":1,"height":1},{"id":"8fb67f8986960369","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":19,"width":1,"height":1},{"id":"35bb2cbb33ad216a","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":21,"width":1,"height":1},{"id":"1db3c78db7379ac0","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":23,"width":1,"height":1},{"id":"3cf182dc6591d55f","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":25,"width":2,"height":1},{"id":"fa2455c3fcd76983","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":28,"width":1,"height":1},{"id":"a8dc2825511bee95","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":30,"width":1,"height":1},{"id":"edcc5ef793fd8aa0","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":32,"width":1,"height":1},{"id":"031f60c9e56e3380","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":34,"width":1,"height":1},{"id":"2f112b9181a9c54f","type":"ui_spacer","z":"5e67d11dfb1e887f","name":"spacer","group":"caeb6886450fdf2d","order":36,"width":2,"height":1},{"id":"caeb6886450fdf2d","type":"ui_group","name":"Control","tab":"e8ab843f47a1b3b4","order":1,"disp":false,"width":"18","collapse":false,"className":""},{"id":"8093b375b7cc572a","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e8ab843f47a1b3b4","type":"ui_tab","name":"Control","icon":"keyboard","disabled":false,"hidden":false}]